/*---------------------------*/
/* Estilos Visuales generales*/
/*---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color:#ffad02;
    background-image: url("");
}

/*----------------------------------------------------------------*/
/* Definición de grilla de objetos dentro del contenedor principal*/
/*----------------------------------------------------------------*/
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container > .grid-head, .grid-footer {
    grid-column: 1/-1;
    background-color: #ff5001;
}

.container > .main-content {
    grid-column: span 2;
    grid-row: span 3;
}

.container > .sec-content {
    grid-column: span 2;
    grid-row: span 3;
}

/*--------------------*/
/* Estilos del Header*/
/*--------------------*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo-header {
    padding: 0px 15px;
}

.lnk-logo{
    display: flex;
    align-items: center;
}

.logo-mascotas {
    width: 160px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.nav-bar {
    display: flex;
    gap: 2px;
}

ul {
    list-style: none;
}

.nav-bar li a {
    background-color: #ff5001;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    display: block;
    position: relative;
    transition: .5s;
    font-size: 14px;
}

.nav-bar li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #ffad02;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-bar li a:hover{
    /*background-color: #ff8037;*/
    color: #ffad02;
}

.nav-bar li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.nav-bar > li {
    float: left;
}

.header-buttons {
    display: flex;
    /*margin-left: auto;*/
    padding: 15px 50px 15px 15px;
    gap: 10px
}

.btn {
    border: 2px solid #0174ae;
    background-color: #00aaff;
    color: #ffffff;
    font-weight: bold;
    font-size: .9em;
    padding: 5px;
    border-radius: 50px;
    width: 90px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.btn:hover{
    background-color: #fff;
    color: #00aaff;
}

/*--------------------------------*/
/* Estilos del Contenido de pagina*/
/*--------------------------------*/

#onda{
    z-index: 0;
}

h1{
    font-family: 'Baloo Thambi';
}

.info-ppal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

.art-ppal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
    width: 90%;
}

.main-txt{
    font-size: 2.5em;
}

.sec-txt{
    font-size: 26px;
    font-weight: bold;
    width: 75%;
}

.img-ppal{
    display: flex;
    justify-content:left;
    align-items:end;
}

.img-dog{
    width: 120%;
}

/*--------------------*/
/* Estilos del Footer*/
/*--------------------*/

.pie-superior{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.item-txt {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.item-txt-logo {
    color: #ffad02;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Baloo Thambi';
}

.item-txt-rrss {
    color: #ffad02;
    font-weight: bold;
    font-size: .9rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-pie{
    display: flex;
    text-decoration: none;
    gap: 10px;
    align-items: center;
}

.logo-pata {
    /*color: #ffac02;*/
    width: 50px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rrss-icn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}

.rrss-icn a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 21px;
    background-color: white;
    color: #ff5001;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.rrss-icn a:hover {
    transform: scale(1.2);
    color: #0174ae;
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8037;
    padding: 10px 60px;
    font-size: 0.8em;
}