/*---------------------------*/
/* Estilos Visuales generales*/
/*---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    /* background-color:#ff8037; */
    background-image: linear-gradient(to bottom, #FF5001, #FFAD02);
}

/*----------------------------------------------------------------*/
/* Definición de grilla de objetos dentro del contenedor principal*/
/*----------------------------------------------------------------*/
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container > .grid-head, .grid-footer {
    grid-column: 1/-1;
    background-color: #ff5001;
}

.container > .main-content {
    grid-column: span 2;
    grid-row: span 3;
}

.container > .sec-content {
    grid-column: span 2;
    grid-row: span 3;
}

/*--------------------*/
/* Estilos del Header*/
/*--------------------*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo-header {
    padding: 0px 15px;
}

.lnk-logo{
    display: flex;
    align-items: center;
}

.logo-mascotas {
    width: 160px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.nav-bar {
    display: flex;
    gap: 2px;
}

ul {
    list-style: none;
}

.nav-bar li a {
    background-color: #ff5001;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    display: block;
    position: relative;
    transition: .5s;
    font-size: 14px;
}

.nav-bar li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #ffad02;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-bar li a:hover{
    /*background-color: #ff8037;*/
    color: #ffad02;
}

.nav-bar li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.nav-bar > li {
    float: left;
}

.header-buttons {
    display: flex;
    /*margin-left: auto;*/
    padding: 15px 50px 15px 15px;
    gap: 10px
}

.btn {
    border: 2px solid #0174ae;
    background-color: #00aaff;
    color: #ffffff;
    font-weight: bold;
    font-size: .9em;
    padding: 5px;
    border-radius: 50px;
    width: 90px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.btn:hover{
    background-color: #fff;
    color: #00aaff;
}

/*--------------------------------*/
/* Estilos del Contenido de pagina*/
/*--------------------------------*/

h1{
    font-family: 'Baloo Thambi';
}

.info-ppal{
    display: flex;
    align-items: center;
    justify-content: right;
    /* padding-left: 130px; */
}

.art-ppal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
    width: 70%;
}

.main-txt{
    font-size: 2.5em;
}

.sec-txt{
    font-size: 25px;
    font-weight: bold;
    width: 70%;
}

.main-buttons {
    display: flex;
    padding: 15px 0;
    gap: 15px
}

.buscar-btn {
    border: 2px solid #00aaff;
    background-color: #00aaff;
    color: #ffffff;
    font-weight: bold;
    font-size: .9em;
    padding: 5px;
    border-radius: 50px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.donar-btn {
    border: 2px solid #FF5001;
    background-color: #FF5001;
    color: #ffffff;
    font-weight: bold;
    font-size: .9em;
    padding: 5px;
    border-radius: 50px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.buscar-btn:hover {
    background-color: #fff;
    color: #00aaff;
    border: 2px solid #00aaff;
}

.donar-btn:hover{
    background-color: #fff;
    color: #FF5001;
}

.img-ppal{
    display: flex;
    justify-content:left;
    align-items:end;
    line-height: 1%;
}

.img-dog{
    width: 52vh;
    padding-left: 15px;
}

/*--------------------*/
/* Estilos del Footer*/
/*--------------------*/

.pie-superior{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.item-txt {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.item-txt-logo {
    color: #ffad02;
    font-weight: bold;
    font-size: 2.2em;
    font-family: 'Baloo Thambi';
}

.item-txt-rrss {
    color: #ffad02;
    font-weight: bold;
    font-size: .9rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-pie{
    display: flex;
    text-decoration: none;
    gap: 10px;
    align-items: center;
}

.logo-pata {
    /*color: #ffac02;*/
    width: 50px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rrss-icn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}

.rrss-icn a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 21px;
    background-color: white;
    color: #ff5001;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.rrss-icn a:hover {
    transform: scale(1.2);
    color: #0174ae;
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8037;
    padding: 10px 60px;
    font-size: 0.8em;
}

/* Diseño responsive */
/* Primer corte de pantalla a resolución max 1400px */
@media only screen and (max-width: 1400px){
    /* Header */
    .nav-bar li a {
        font-size: 13px;
    }
    
    .btn {
        font-size: .8em;
    }

    /* Contenido Central*/
    .main-txt{
        font-size: 2.2em;
    }

    .sec-txt{
        font-size: 20px;
    }

    .img-dog{
        width: 51vh;
    }

    /* Footer */
    .item-txt-logo {
        font-size: 2.1em;
    }
}

/* Segundo corte de pantalla a resolución max 1200px */
@media only screen and (max-width: 1200px){
    /* Header */
    .logo-mascotas {
        width: 140px;
    }
    
    .nav-bar li a {
        font-size: 12px;
        padding: 3px 5px;
    }
    
    .header-buttons {
        padding: 15px 40px 15px 8px;
        gap: 7px
    }

    /* Contenido Central*/
    .main-txt{
        font-size: 2em;
    }

    .sec-txt{
        font-size: 18px;
        width: 80%;
    }

    .img-dog{
        width: 48vh;
    }

    /* Footer */
    .item-txt-logo {
        font-size: 2em;
    }
}